body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1040px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3892_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0099CC;
}
#u3892 {
  position:absolute;
  left:185px;
  top:273px;
  width:70px;
  height:70px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0099CC;
}
#u3893 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  word-wrap:break-word;
}
#u3894_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0099CC;
}
#u3894 {
  position:absolute;
  left:185px;
  top:686px;
  width:70px;
  height:70px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0099CC;
}
#u3895 {
  position:absolute;
  left:2px;
  top:19px;
  width:66px;
  word-wrap:break-word;
}
#u3896 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3897_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:95px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 102, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3897 {
  position:absolute;
  left:324px;
  top:260px;
  width:95px;
  height:95px;
  font-size:16px;
}
#u3898 {
  position:absolute;
  left:2px;
  top:29px;
  width:91px;
  word-wrap:break-word;
}
#u3899_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 102, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3899 {
  position:absolute;
  left:324px;
  top:232px;
  width:95px;
  height:29px;
  font-size:16px;
}
#u3900 {
  position:absolute;
  left:2px;
  top:5px;
  width:91px;
  word-wrap:break-word;
}
#u3901 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:95px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 102, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3902 {
  position:absolute;
  left:567px;
  top:260px;
  width:95px;
  height:95px;
  font-size:16px;
}
#u3903 {
  position:absolute;
  left:2px;
  top:29px;
  width:91px;
  word-wrap:break-word;
}
#u3904_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 102, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3904 {
  position:absolute;
  left:567px;
  top:232px;
  width:95px;
  height:29px;
  font-size:16px;
}
#u3905 {
  position:absolute;
  left:2px;
  top:5px;
  width:91px;
  word-wrap:break-word;
}
#u3906 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:95px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 102, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3907 {
  position:absolute;
  left:766px;
  top:260px;
  width:95px;
  height:95px;
  font-size:16px;
}
#u3908 {
  position:absolute;
  left:2px;
  top:38px;
  width:91px;
  word-wrap:break-word;
}
#u3909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 102, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3909 {
  position:absolute;
  left:766px;
  top:232px;
  width:95px;
  height:29px;
  font-size:16px;
}
#u3910 {
  position:absolute;
  left:2px;
  top:5px;
  width:91px;
  word-wrap:break-word;
}
#u3911 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:95px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 102, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3912 {
  position:absolute;
  left:324px;
  top:673px;
  width:95px;
  height:95px;
  font-size:16px;
}
#u3913 {
  position:absolute;
  left:2px;
  top:29px;
  width:91px;
  word-wrap:break-word;
}
#u3914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 102, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3914 {
  position:absolute;
  left:324px;
  top:645px;
  width:95px;
  height:29px;
  font-size:16px;
}
#u3915 {
  position:absolute;
  left:2px;
  top:5px;
  width:91px;
  word-wrap:break-word;
}
#u3916 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3917_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3917 {
  position:absolute;
  left:436px;
  top:404px;
  width:45px;
  height:45px;
}
#u3918 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  word-wrap:break-word;
}
#u3919_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3919 {
  position:absolute;
  left:480px;
  top:404px;
  width:135px;
  height:45px;
}
#u3920 {
  position:absolute;
  left:2px;
  top:14px;
  width:131px;
  word-wrap:break-word;
}
#u3921 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:95px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 102, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3922 {
  position:absolute;
  left:766px;
  top:468px;
  width:95px;
  height:95px;
  font-size:16px;
}
#u3923 {
  position:absolute;
  left:2px;
  top:29px;
  width:91px;
  word-wrap:break-word;
}
#u3924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 102, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3924 {
  position:absolute;
  left:766px;
  top:440px;
  width:95px;
  height:29px;
  font-size:16px;
}
#u3925 {
  position:absolute;
  left:2px;
  top:5px;
  width:91px;
  word-wrap:break-word;
}
#u3926 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3927_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3927 {
  position:absolute;
  left:540px;
  top:473px;
  width:45px;
  height:45px;
}
#u3928 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  word-wrap:break-word;
}
#u3929_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3929 {
  position:absolute;
  left:584px;
  top:473px;
  width:135px;
  height:45px;
}
#u3930 {
  position:absolute;
  left:2px;
  top:14px;
  width:131px;
  word-wrap:break-word;
}
#u3931 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3932 {
  position:absolute;
  left:503px;
  top:111px;
  width:45px;
  height:45px;
}
#u3933 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  word-wrap:break-word;
}
#u3934_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3934 {
  position:absolute;
  left:547px;
  top:111px;
  width:135px;
  height:45px;
}
#u3935 {
  position:absolute;
  left:2px;
  top:14px;
  width:131px;
  word-wrap:break-word;
}
#u3936 {
  position:absolute;
  left:419px;
  top:308px;
  width:0px;
  height:0px;
}
#u3936_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:152px;
  height:8px;
}
#u3936_seg1 {
  position:absolute;
  left:133px;
  top:-10px;
  width:20px;
  height:20px;
}
#u3937 {
  position:absolute;
  left:24px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3938 {
  position:absolute;
  left:662px;
  top:308px;
  width:0px;
  height:0px;
}
#u3938_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:108px;
  height:8px;
}
#u3938_seg1 {
  position:absolute;
  left:89px;
  top:-10px;
  width:20px;
  height:20px;
}
#u3939 {
  position:absolute;
  left:2px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3940 {
  position:absolute;
  left:814px;
  top:440px;
  width:0px;
  height:0px;
}
#u3940_seg0 {
  position:absolute;
  left:-4px;
  top:-85px;
  width:8px;
  height:89px;
}
#u3940_seg1 {
  position:absolute;
  left:-10px;
  top:-90px;
  width:20px;
  height:20px;
}
#u3941 {
  position:absolute;
  left:-50px;
  top:-50px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3942 {
  position:absolute;
  left:615px;
  top:156px;
  width:0px;
  height:0px;
}
#u3942_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:80px;
}
#u3942_seg1 {
  position:absolute;
  left:-10px;
  top:61px;
  width:20px;
  height:20px;
}
#u3943 {
  position:absolute;
  left:-50px;
  top:30px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3944 {
  position:absolute;
  left:682px;
  top:134px;
  width:0px;
  height:0px;
}
#u3944_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:242px;
  height:8px;
}
#u3944_seg1 {
  position:absolute;
  left:234px;
  top:-4px;
  width:8px;
  height:390px;
}
#u3944_seg2 {
  position:absolute;
  left:179px;
  top:378px;
  width:63px;
  height:8px;
}
#u3944_seg3 {
  position:absolute;
  left:174px;
  top:372px;
  width:20px;
  height:20px;
}
#u3945 {
  position:absolute;
  left:188px;
  top:94px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3946 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:95px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 102, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3947 {
  position:absolute;
  left:324px;
  top:493px;
  width:95px;
  height:95px;
  font-size:16px;
}
#u3948 {
  position:absolute;
  left:2px;
  top:29px;
  width:91px;
  word-wrap:break-word;
}
#u3949_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 102, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3949 {
  position:absolute;
  left:324px;
  top:465px;
  width:95px;
  height:29px;
  font-size:16px;
}
#u3950 {
  position:absolute;
  left:2px;
  top:5px;
  width:91px;
  word-wrap:break-word;
}
#u3951 {
  position:absolute;
  left:421px;
  top:336px;
  width:0px;
  height:0px;
}
#u3951_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:5px;
}
#u3951_seg1 {
  position:absolute;
  left:-4px;
  top:-3px;
  width:95px;
  height:8px;
}
#u3951_seg2 {
  position:absolute;
  left:83px;
  top:-3px;
  width:8px;
  height:70px;
}
#u3951_seg3 {
  position:absolute;
  left:77px;
  top:52px;
  width:20px;
  height:20px;
}
#u3952 {
  position:absolute;
  left:26px;
  top:-7px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3953 {
  position:absolute;
  left:764px;
  top:328px;
  width:0px;
  height:0px;
}
#u3953_seg0 {
  position:absolute;
  left:-81px;
  top:-4px;
  width:81px;
  height:8px;
}
#u3953_seg1 {
  position:absolute;
  left:-81px;
  top:-4px;
  width:8px;
  height:153px;
}
#u3953_seg2 {
  position:absolute;
  left:-87px;
  top:134px;
  width:20px;
  height:20px;
}
#u3954 {
  position:absolute;
  left:-127px;
  top:28px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3955 {
  position:absolute;
  left:652px;
  top:518px;
  width:0px;
  height:0px;
}
#u3955_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:207px;
}
#u3955_seg1 {
  position:absolute;
  left:-233px;
  top:199px;
  width:237px;
  height:8px;
}
#u3955_seg2 {
  position:absolute;
  left:-238px;
  top:193px;
  width:20px;
  height:20px;
}
#u3956 {
  position:absolute;
  left:-65px;
  top:195px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3957 {
  position:absolute;
  left:512px;
  top:451px;
  width:0px;
  height:0px;
}
#u3957_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:249px;
}
#u3957_seg1 {
  position:absolute;
  left:-94px;
  top:241px;
  width:98px;
  height:8px;
}
#u3957_seg2 {
  position:absolute;
  left:-99px;
  top:235px;
  width:20px;
  height:20px;
}
#u3958 {
  position:absolute;
  left:-50px;
  top:162px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3959 {
  position:absolute;
  left:436px;
  top:427px;
  width:0px;
  height:0px;
}
#u3959_seg0 {
  position:absolute;
  left:-4px;
  top:-4px;
  width:8px;
  height:4px;
}
#u3959_seg1 {
  position:absolute;
  left:-4px;
  top:-4px;
  width:8px;
  height:27px;
}
#u3959_seg2 {
  position:absolute;
  left:-68px;
  top:15px;
  width:72px;
  height:8px;
}
#u3959_seg3 {
  position:absolute;
  left:-68px;
  top:15px;
  width:8px;
  height:23px;
}
#u3959_seg4 {
  position:absolute;
  left:-74px;
  top:23px;
  width:20px;
  height:20px;
}
#u3960 {
  position:absolute;
  left:-82px;
  top:11px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3961 {
  position:absolute;
  left:372px;
  top:588px;
  width:0px;
  height:0px;
}
#u3961_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:61px;
}
#u3961_seg1 {
  position:absolute;
  left:-10px;
  top:42px;
  width:20px;
  height:20px;
}
#u3962 {
  position:absolute;
  left:-50px;
  top:20px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3963 {
  position:absolute;
  left:445px;
  top:362px;
  width:57px;
  height:16px;
}
#u3964 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3965 {
  position:absolute;
  left:373px;
  top:406px;
  width:57px;
  height:16px;
}
#u3966 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3967 {
  position:absolute;
  left:380px;
  top:606px;
  width:71px;
  height:16px;
}
#u3968 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u3969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3969 {
  position:absolute;
  left:557px;
  top:699px;
  width:71px;
  height:16px;
}
#u3970 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u3971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3971 {
  position:absolute;
  left:435px;
  top:671px;
  width:71px;
  height:16px;
}
#u3972 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u3973 {
  position:absolute;
  left:255px;
  top:308px;
  width:0px;
  height:0px;
}
#u3973_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:73px;
  height:8px;
}
#u3973_seg1 {
  position:absolute;
  left:54px;
  top:-10px;
  width:20px;
  height:20px;
}
#u3974 {
  position:absolute;
  left:-16px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3975 {
  position:absolute;
  left:255px;
  top:721px;
  width:0px;
  height:0px;
}
#u3975_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:73px;
  height:8px;
}
#u3975_seg1 {
  position:absolute;
  left:54px;
  top:-10px;
  width:20px;
  height:20px;
}
#u3976 {
  position:absolute;
  left:-16px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3977_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3977 {
  position:absolute;
  left:699px;
  top:339px;
  width:57px;
  height:16px;
}
#u3978 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3979_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3979 {
  position:absolute;
  left:623px;
  top:184px;
  width:57px;
  height:16px;
}
#u3980 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3981_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3981 {
  position:absolute;
  left:722px;
  top:111px;
  width:57px;
  height:16px;
}
#u3982 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u3983 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3984_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:95px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 102, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3984 {
  position:absolute;
  left:533px;
  top:808px;
  width:95px;
  height:95px;
  font-size:16px;
}
#u3985 {
  position:absolute;
  left:2px;
  top:29px;
  width:91px;
  word-wrap:break-word;
}
#u3986_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 102, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3986 {
  position:absolute;
  left:533px;
  top:780px;
  width:95px;
  height:29px;
  font-size:16px;
}
#u3987 {
  position:absolute;
  left:2px;
  top:5px;
  width:91px;
  word-wrap:break-word;
}
#u3988 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:95px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 102, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3989 {
  position:absolute;
  left:766px;
  top:808px;
  width:95px;
  height:95px;
  font-size:16px;
}
#u3990 {
  position:absolute;
  left:2px;
  top:29px;
  width:91px;
  word-wrap:break-word;
}
#u3991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 102, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u3991 {
  position:absolute;
  left:766px;
  top:780px;
  width:95px;
  height:29px;
  font-size:16px;
}
#u3992 {
  position:absolute;
  left:2px;
  top:5px;
  width:91px;
  word-wrap:break-word;
}
#u3993 {
  position:absolute;
  left:372px;
  top:768px;
  width:0px;
  height:0px;
}
#u3993_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:92px;
}
#u3993_seg1 {
  position:absolute;
  left:-4px;
  top:84px;
  width:165px;
  height:8px;
}
#u3993_seg2 {
  position:absolute;
  left:146px;
  top:78px;
  width:20px;
  height:20px;
}
#u3994 {
  position:absolute;
  left:-14px;
  top:80px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3995 {
  position:absolute;
  left:628px;
  top:856px;
  width:0px;
  height:0px;
}
#u3995_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:142px;
  height:8px;
}
#u3995_seg1 {
  position:absolute;
  left:123px;
  top:-10px;
  width:20px;
  height:20px;
}
#u3996 {
  position:absolute;
  left:19px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3997 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u3998_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0099CC;
}
#u3998 {
  position:absolute;
  left:970px;
  top:821px;
  width:70px;
  height:70px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0099CC;
}
#u3999 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  word-wrap:break-word;
}
#u4000_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u4000 {
  position:absolute;
  left:1010px;
  top:861px;
  width:30px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0099CC;
}
#u4001 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4002 {
  position:absolute;
  left:970px;
  top:856px;
  width:0px;
  height:0px;
}
#u4002_seg0 {
  position:absolute;
  left:-109px;
  top:-4px;
  width:113px;
  height:8px;
}
#u4002_seg1 {
  position:absolute;
  left:-114px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4003 {
  position:absolute;
  left:-104px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4004 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4005 {
  position:absolute;
  left:702px;
  top:676px;
  width:45px;
  height:45px;
}
#u4006 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  word-wrap:break-word;
}
#u4007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4007 {
  position:absolute;
  left:746px;
  top:676px;
  width:135px;
  height:45px;
}
#u4008 {
  position:absolute;
  left:2px;
  top:14px;
  width:131px;
  word-wrap:break-word;
}
#u4009 {
  position:absolute;
  left:814px;
  top:676px;
  width:0px;
  height:0px;
}
#u4009_seg0 {
  position:absolute;
  left:-4px;
  top:-113px;
  width:8px;
  height:117px;
}
#u4009_seg1 {
  position:absolute;
  left:-10px;
  top:-118px;
  width:20px;
  height:20px;
}
#u4010 {
  position:absolute;
  left:-50px;
  top:-64px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4011 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4012 {
  position:absolute;
  left:610px;
  top:957px;
  width:45px;
  height:45px;
}
#u4013 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  word-wrap:break-word;
}
#u4014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4014 {
  position:absolute;
  left:654px;
  top:957px;
  width:135px;
  height:45px;
}
#u4015 {
  position:absolute;
  left:2px;
  top:14px;
  width:131px;
  word-wrap:break-word;
}
#u4016 {
  position:absolute;
  left:581px;
  top:903px;
  width:0px;
  height:0px;
}
#u4016_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:81px;
}
#u4016_seg1 {
  position:absolute;
  left:-4px;
  top:73px;
  width:33px;
  height:8px;
}
#u4016_seg2 {
  position:absolute;
  left:14px;
  top:67px;
  width:20px;
  height:20px;
}
#u4017 {
  position:absolute;
  left:-50px;
  top:45px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4018 {
  position:absolute;
  left:814px;
  top:903px;
  width:0px;
  height:0px;
}
#u4018_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:81px;
}
#u4018_seg1 {
  position:absolute;
  left:-25px;
  top:73px;
  width:29px;
  height:8px;
}
#u4018_seg2 {
  position:absolute;
  left:-30px;
  top:67px;
  width:20px;
  height:20px;
}
#u4019 {
  position:absolute;
  left:-50px;
  top:43px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4020 {
  position:absolute;
  left:503px;
  top:924px;
  width:57px;
  height:16px;
}
#u4021 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4022 {
  position:absolute;
  left:822px;
  top:924px;
  width:57px;
  height:16px;
}
#u4023 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4024 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:95px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 102, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4025 {
  position:absolute;
  left:662px;
  top:1105px;
  width:95px;
  height:95px;
  font-size:16px;
}
#u4026 {
  position:absolute;
  left:2px;
  top:38px;
  width:91px;
  word-wrap:break-word;
}
#u4027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 102, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u4027 {
  position:absolute;
  left:662px;
  top:1077px;
  width:95px;
  height:29px;
  font-size:16px;
}
#u4028 {
  position:absolute;
  left:2px;
  top:5px;
  width:91px;
  word-wrap:break-word;
}
#u4029 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4030_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0099CC;
}
#u4030 {
  position:absolute;
  left:488px;
  top:1118px;
  width:70px;
  height:70px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0099CC;
}
#u4031 {
  position:absolute;
  left:2px;
  top:19px;
  width:66px;
  word-wrap:break-word;
}
#u4032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u4032 {
  position:absolute;
  left:528px;
  top:1158px;
  width:30px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0099CC;
}
#u4033 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4034 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0099CC;
}
#u4035 {
  position:absolute;
  left:842px;
  top:1118px;
  width:70px;
  height:70px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0099CC;
}
#u4036 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  word-wrap:break-word;
}
#u4037_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u4037 {
  position:absolute;
  left:882px;
  top:1158px;
  width:30px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0099CC;
}
#u4038 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4039 {
  position:absolute;
  left:558px;
  top:1153px;
  width:0px;
  height:0px;
}
#u4039_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:108px;
  height:8px;
}
#u4039_seg1 {
  position:absolute;
  left:89px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4040 {
  position:absolute;
  left:2px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4041 {
  position:absolute;
  left:842px;
  top:1153px;
  width:0px;
  height:0px;
}
#u4041_seg0 {
  position:absolute;
  left:-85px;
  top:-4px;
  width:89px;
  height:8px;
}
#u4041_seg1 {
  position:absolute;
  left:-90px;
  top:-10px;
  width:20px;
  height:20px;
}
#u4042 {
  position:absolute;
  left:-92px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4043 {
  position:absolute;
  left:710px;
  top:1077px;
  width:0px;
  height:0px;
}
#u4043_seg0 {
  position:absolute;
  left:-4px;
  top:-74px;
  width:8px;
  height:78px;
}
#u4043_seg1 {
  position:absolute;
  left:-10px;
  top:-79px;
  width:20px;
  height:20px;
}
#u4044 {
  position:absolute;
  left:-50px;
  top:-45px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4045 {
  position:absolute;
  left:722px;
  top:1037px;
  width:57px;
  height:16px;
}
#u4046 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4047 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4048 {
  position:absolute;
  left:199px;
  top:1264px;
  width:170px;
  height:31px;
}
#u4049 {
  position:absolute;
  left:2px;
  top:8px;
  width:166px;
  word-wrap:break-word;
}
#u4050 {
  position:absolute;
  left:199px;
  top:1294px;
}
#u4050_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u4050_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4051_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:260px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:20px;
}
#u4051 {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:260px;
  text-align:left;
  line-height:20px;
}
#u4052 {
  position:absolute;
  left:10px;
  top:10px;
  width:150px;
  word-wrap:break-word;
}
#u4050_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u4050_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u4053_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:1100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:20px;
}
#u4053 {
  position:absolute;
  left:0px;
  top:-90px;
  width:170px;
  height:1100px;
  text-align:left;
  line-height:20px;
}
#u4054 {
  position:absolute;
  left:10px;
  top:10px;
  width:150px;
  word-wrap:break-word;
}
#u4055_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4055 {
  position:absolute;
  left:822px;
  top:622px;
  width:57px;
  height:16px;
}
#u4056 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4057 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4058_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4058 {
  position:absolute;
  left:100px;
  top:406px;
  width:45px;
  height:45px;
}
#u4059 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  word-wrap:break-word;
}
#u4060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4060 {
  position:absolute;
  left:144px;
  top:406px;
  width:135px;
  height:45px;
}
#u4061 {
  position:absolute;
  left:2px;
  top:14px;
  width:131px;
  word-wrap:break-word;
}
#u4062 {
  position:absolute;
  left:279px;
  top:429px;
  width:0px;
  height:0px;
}
#u4062_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:74px;
  height:8px;
}
#u4062_seg1 {
  position:absolute;
  left:66px;
  top:-4px;
  width:8px;
  height:41px;
}
#u4062_seg2 {
  position:absolute;
  left:60px;
  top:22px;
  width:20px;
  height:20px;
}
#u4063 {
  position:absolute;
  left:4px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4064_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4064 {
  position:absolute;
  left:289px;
  top:405px;
  width:57px;
  height:16px;
}
#u4065 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u4066 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4067 {
  position:absolute;
  left:435px;
  top:1264px;
  width:170px;
  height:31px;
}
#u4068 {
  position:absolute;
  left:2px;
  top:8px;
  width:166px;
  word-wrap:break-word;
}
#u4069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:20px;
}
#u4069 {
  position:absolute;
  left:435px;
  top:1294px;
  width:170px;
  height:160px;
  text-align:left;
  line-height:20px;
}
#u4070 {
  position:absolute;
  left:10px;
  top:10px;
  width:150px;
  word-wrap:break-word;
}
#u4071 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4072 {
  position:absolute;
  left:671px;
  top:1264px;
  width:170px;
  height:31px;
}
#u4073 {
  position:absolute;
  left:2px;
  top:8px;
  width:166px;
  word-wrap:break-word;
}
#u4074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:160px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:20px;
}
#u4074 {
  position:absolute;
  left:671px;
  top:1294px;
  width:170px;
  height:160px;
  text-align:left;
  line-height:20px;
}
#u4075 {
  position:absolute;
  left:10px;
  top:10px;
  width:150px;
  word-wrap:break-word;
}
#u4076_div {
  position:absolute;
  left:0px;
  top:0px;
  width:776px;
  height:392px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#185A9B;
  line-height:28px;
}
#u4076 {
  position:absolute;
  left:100px;
  top:1627px;
  width:776px;
  height:392px;
  font-size:16px;
  color:#185A9B;
  line-height:28px;
}
#u4077 {
  position:absolute;
  left:0px;
  top:0px;
  width:776px;
  word-wrap:break-word;
}
