body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1192px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1326 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1327_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:95px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 102, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1327 {
  position:absolute;
  left:249px;
  top:163px;
  width:95px;
  height:95px;
  font-size:16px;
}
#u1328 {
  position:absolute;
  left:2px;
  top:29px;
  width:91px;
  word-wrap:break-word;
}
#u1329_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 102, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1329 {
  position:absolute;
  left:249px;
  top:135px;
  width:95px;
  height:29px;
  font-size:16px;
}
#u1330 {
  position:absolute;
  left:2px;
  top:5px;
  width:91px;
  word-wrap:break-word;
}
#u1331_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0099CC;
}
#u1331 {
  position:absolute;
  left:92px;
  top:176px;
  width:70px;
  height:70px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0099CC;
}
#u1332 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  word-wrap:break-word;
}
#u1333 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1334_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:95px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 102, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1334 {
  position:absolute;
  left:683px;
  top:556px;
  width:95px;
  height:95px;
  font-size:16px;
}
#u1335 {
  position:absolute;
  left:2px;
  top:38px;
  width:91px;
  word-wrap:break-word;
}
#u1336_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 102, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1336 {
  position:absolute;
  left:683px;
  top:528px;
  width:95px;
  height:29px;
  font-size:16px;
}
#u1337 {
  position:absolute;
  left:2px;
  top:5px;
  width:91px;
  word-wrap:break-word;
}
#u1338_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0099CC;
}
#u1338 {
  position:absolute;
  left:92px;
  top:382px;
  width:70px;
  height:70px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0099CC;
}
#u1339 {
  position:absolute;
  left:2px;
  top:19px;
  width:66px;
  word-wrap:break-word;
}
#u1340 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1341_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1341 {
  position:absolute;
  left:431px;
  top:581px;
  width:45px;
  height:45px;
}
#u1342 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  word-wrap:break-word;
}
#u1343_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1343 {
  position:absolute;
  left:475px;
  top:581px;
  width:135px;
  height:45px;
}
#u1344 {
  position:absolute;
  left:2px;
  top:14px;
  width:131px;
  word-wrap:break-word;
}
#u1345 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1346_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1346 {
  position:absolute;
  left:442px;
  top:277px;
  width:45px;
  height:45px;
}
#u1347 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  word-wrap:break-word;
}
#u1348_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1348 {
  position:absolute;
  left:486px;
  top:277px;
  width:135px;
  height:45px;
}
#u1349 {
  position:absolute;
  left:2px;
  top:14px;
  width:131px;
  word-wrap:break-word;
}
#u1350 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1351_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:95px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 102, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1351 {
  position:absolute;
  left:683px;
  top:163px;
  width:95px;
  height:95px;
  font-size:16px;
}
#u1352 {
  position:absolute;
  left:2px;
  top:29px;
  width:91px;
  word-wrap:break-word;
}
#u1353_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 102, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1353 {
  position:absolute;
  left:683px;
  top:135px;
  width:95px;
  height:29px;
  font-size:16px;
}
#u1354 {
  position:absolute;
  left:2px;
  top:5px;
  width:91px;
  word-wrap:break-word;
}
#u1355 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1356_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1356 {
  position:absolute;
  left:431px;
  top:480px;
  width:45px;
  height:45px;
}
#u1357 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  word-wrap:break-word;
}
#u1358_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1358 {
  position:absolute;
  left:475px;
  top:480px;
  width:135px;
  height:45px;
}
#u1359 {
  position:absolute;
  left:2px;
  top:14px;
  width:131px;
  word-wrap:break-word;
}
#u1360 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1361_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:95px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 102, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1361 {
  position:absolute;
  left:249px;
  top:361px;
  width:95px;
  height:95px;
  font-size:16px;
}
#u1362 {
  position:absolute;
  left:2px;
  top:29px;
  width:91px;
  word-wrap:break-word;
}
#u1363_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 102, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1363 {
  position:absolute;
  left:249px;
  top:333px;
  width:95px;
  height:29px;
  font-size:16px;
}
#u1364 {
  position:absolute;
  left:2px;
  top:5px;
  width:91px;
  word-wrap:break-word;
}
#u1365 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1366_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0099CC;
}
#u1366 {
  position:absolute;
  left:906px;
  top:569px;
  width:70px;
  height:70px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0099CC;
}
#u1367 {
  position:absolute;
  left:2px;
  top:19px;
  width:66px;
  word-wrap:break-word;
}
#u1368_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1368 {
  position:absolute;
  left:946px;
  top:609px;
  width:30px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0099CC;
}
#u1369 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1370 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1371_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:95px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 102, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1371 {
  position:absolute;
  left:249px;
  top:556px;
  width:95px;
  height:95px;
  font-size:16px;
}
#u1372 {
  position:absolute;
  left:2px;
  top:29px;
  width:91px;
  word-wrap:break-word;
}
#u1373_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 102, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1373 {
  position:absolute;
  left:249px;
  top:528px;
  width:95px;
  height:29px;
  font-size:16px;
}
#u1374 {
  position:absolute;
  left:2px;
  top:5px;
  width:91px;
  word-wrap:break-word;
}
#u1375 {
  position:absolute;
  left:162px;
  top:211px;
  width:0px;
  height:0px;
}
#u1375_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:91px;
  height:8px;
}
#u1375_seg1 {
  position:absolute;
  left:72px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1376 {
  position:absolute;
  left:-6px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1377 {
  position:absolute;
  left:297px;
  top:258px;
  width:0px;
  height:0px;
}
#u1377_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:46px;
}
#u1377_seg1 {
  position:absolute;
  left:-4px;
  top:38px;
  width:149px;
  height:8px;
}
#u1377_seg2 {
  position:absolute;
  left:130px;
  top:32px;
  width:20px;
  height:20px;
}
#u1378 {
  position:absolute;
  left:2px;
  top:34px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1379_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1379 {
  position:absolute;
  left:178px;
  top:219px;
  width:43px;
  height:32px;
}
#u1380 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u1381_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1381 {
  position:absolute;
  left:340px;
  top:272px;
  width:71px;
  height:16px;
}
#u1382 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u1383 {
  position:absolute;
  left:163px;
  top:409px;
  width:0px;
  height:0px;
}
#u1383_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:90px;
  height:8px;
}
#u1383_seg1 {
  position:absolute;
  left:71px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1384 {
  position:absolute;
  left:-7px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1385 {
  position:absolute;
  left:127px;
  top:452px;
  width:0px;
  height:0px;
}
#u1385_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:156px;
}
#u1385_seg1 {
  position:absolute;
  left:-4px;
  top:148px;
  width:126px;
  height:8px;
}
#u1385_seg2 {
  position:absolute;
  left:107px;
  top:142px;
  width:20px;
  height:20px;
}
#u1386 {
  position:absolute;
  left:-50px;
  top:129px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1387_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1387 {
  position:absolute;
  left:176px;
  top:381px;
  width:57px;
  height:16px;
}
#u1388 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1389_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1389 {
  position:absolute;
  left:161px;
  top:564px;
  width:57px;
  height:32px;
}
#u1390 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1391 {
  position:absolute;
  left:344px;
  top:604px;
  width:0px;
  height:0px;
}
#u1391_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:91px;
  height:8px;
}
#u1391_seg1 {
  position:absolute;
  left:72px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1392 {
  position:absolute;
  left:-6px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1393_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1393 {
  position:absolute;
  left:357px;
  top:565px;
  width:57px;
  height:32px;
}
#u1394 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1395 {
  position:absolute;
  left:297px;
  top:456px;
  width:0px;
  height:0px;
}
#u1395_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:51px;
}
#u1395_seg1 {
  position:absolute;
  left:-4px;
  top:43px;
  width:138px;
  height:8px;
}
#u1395_seg2 {
  position:absolute;
  left:119px;
  top:37px;
  width:20px;
  height:20px;
}
#u1396 {
  position:absolute;
  left:-6px;
  top:39px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1397_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1397 {
  position:absolute;
  left:340px;
  top:480px;
  width:57px;
  height:16px;
}
#u1398 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1399 {
  position:absolute;
  left:595px;
  top:481px;
  width:0px;
  height:0px;
}
#u1399_seg0 {
  position:absolute;
  left:-4px;
  top:-45px;
  width:8px;
  height:45px;
}
#u1399_seg1 {
  position:absolute;
  left:-4px;
  top:-45px;
  width:92px;
  height:8px;
}
#u1399_seg2 {
  position:absolute;
  left:73px;
  top:-51px;
  width:20px;
  height:20px;
}
#u1400 {
  position:absolute;
  left:-26px;
  top:-49px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1401_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1401 {
  position:absolute;
  left:606px;
  top:424px;
  width:57px;
  height:16px;
}
#u1402 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1403_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1403 {
  position:absolute;
  left:616px;
  top:540px;
  width:57px;
  height:16px;
}
#u1404 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1405 {
  position:absolute;
  left:344px;
  top:211px;
  width:0px;
  height:0px;
}
#u1405_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:132px;
  height:8px;
}
#u1405_seg1 {
  position:absolute;
  left:113px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1406 {
  position:absolute;
  left:14px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1407 {
  position:absolute;
  left:906px;
  top:604px;
  width:0px;
  height:0px;
}
#u1407_seg0 {
  position:absolute;
  left:-128px;
  top:-4px;
  width:132px;
  height:8px;
}
#u1407_seg1 {
  position:absolute;
  left:-133px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1408 {
  position:absolute;
  left:-114px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1409_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1409 {
  position:absolute;
  left:836px;
  top:375px;
  width:57px;
  height:32px;
}
#u1410 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1411 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1412_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1412 {
  position:absolute;
  left:886px;
  top:148px;
  width:45px;
  height:45px;
}
#u1413 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  word-wrap:break-word;
}
#u1414_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1414 {
  position:absolute;
  left:930px;
  top:148px;
  width:135px;
  height:45px;
}
#u1415 {
  position:absolute;
  left:2px;
  top:14px;
  width:131px;
  word-wrap:break-word;
}
#u1416 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1417_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1417 {
  position:absolute;
  left:886px;
  top:199px;
  width:45px;
  height:45px;
}
#u1418 {
  position:absolute;
  left:2px;
  top:14px;
  width:41px;
  word-wrap:break-word;
}
#u1419_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:45px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-right:0px;
  border-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1419 {
  position:absolute;
  left:930px;
  top:199px;
  width:135px;
  height:45px;
}
#u1420 {
  position:absolute;
  left:2px;
  top:14px;
  width:131px;
  word-wrap:break-word;
}
#u1421 {
  position:absolute;
  left:610px;
  top:604px;
  width:0px;
  height:0px;
}
#u1421_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:77px;
  height:8px;
}
#u1421_seg1 {
  position:absolute;
  left:58px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1422 {
  position:absolute;
  left:-14px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1423 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1424_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:95px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 102, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1424 {
  position:absolute;
  left:683px;
  top:361px;
  width:95px;
  height:95px;
  font-size:16px;
}
#u1425 {
  position:absolute;
  left:2px;
  top:38px;
  width:91px;
  word-wrap:break-word;
}
#u1426_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 102, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1426 {
  position:absolute;
  left:683px;
  top:333px;
  width:95px;
  height:29px;
  font-size:16px;
}
#u1427 {
  position:absolute;
  left:2px;
  top:5px;
  width:91px;
  word-wrap:break-word;
}
#u1428 {
  position:absolute;
  left:610px;
  top:506px;
  width:0px;
  height:0px;
}
#u1428_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:97px;
  height:8px;
}
#u1428_seg1 {
  position:absolute;
  left:89px;
  top:-4px;
  width:8px;
  height:29px;
}
#u1428_seg2 {
  position:absolute;
  left:83px;
  top:10px;
  width:20px;
  height:20px;
}
#u1429 {
  position:absolute;
  left:9px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1430_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1430 {
  position:absolute;
  left:620px;
  top:480px;
  width:57px;
  height:16px;
}
#u1431 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1432 {
  position:absolute;
  left:779px;
  top:529px;
  width:0px;
  height:0px;
}
#u1432_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:53px;
  height:8px;
}
#u1432_seg1 {
  position:absolute;
  left:45px;
  top:-293px;
  width:8px;
  height:297px;
}
#u1432_seg2 {
  position:absolute;
  left:-2px;
  top:-293px;
  width:55px;
  height:8px;
}
#u1432_seg3 {
  position:absolute;
  left:-7px;
  top:-299px;
  width:20px;
  height:20px;
}
#u1433 {
  position:absolute;
  left:-1px;
  top:-154px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1434 {
  position:absolute;
  left:731px;
  top:528px;
  width:0px;
  height:0px;
}
#u1434_seg0 {
  position:absolute;
  left:-4px;
  top:-72px;
  width:8px;
  height:76px;
}
#u1434_seg1 {
  position:absolute;
  left:-10px;
  top:-77px;
  width:20px;
  height:20px;
}
#u1435 {
  position:absolute;
  left:-50px;
  top:-44px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1436 {
  position:absolute;
  left:731px;
  top:333px;
  width:0px;
  height:0px;
}
#u1436_seg0 {
  position:absolute;
  left:-4px;
  top:-75px;
  width:8px;
  height:79px;
}
#u1436_seg1 {
  position:absolute;
  left:-10px;
  top:-80px;
  width:20px;
  height:20px;
}
#u1437 {
  position:absolute;
  left:-50px;
  top:-46px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1438_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1438 {
  position:absolute;
  left:667px;
  top:280px;
  width:57px;
  height:16px;
}
#u1439 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1440 {
  position:absolute;
  left:781px;
  top:222px;
  width:0px;
  height:0px;
}
#u1440_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:109px;
  height:8px;
}
#u1440_seg1 {
  position:absolute;
  left:90px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1441 {
  position:absolute;
  left:2px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1442 {
  position:absolute;
  left:780px;
  top:179px;
  width:0px;
  height:0px;
}
#u1442_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:110px;
  height:8px;
}
#u1442_seg1 {
  position:absolute;
  left:91px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1443 {
  position:absolute;
  left:3px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1444_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1444 {
  position:absolute;
  left:805px;
  top:152px;
  width:57px;
  height:16px;
}
#u1445 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1446_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1446 {
  position:absolute;
  left:805px;
  top:200px;
  width:57px;
  height:16px;
}
#u1447 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1448 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1449_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:95px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 102, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1449 {
  position:absolute;
  left:931px;
  top:343px;
  width:95px;
  height:95px;
  font-size:16px;
}
#u1450 {
  position:absolute;
  left:2px;
  top:38px;
  width:91px;
  word-wrap:break-word;
}
#u1451_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 102, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1451 {
  position:absolute;
  left:931px;
  top:315px;
  width:95px;
  height:29px;
  font-size:16px;
}
#u1452 {
  position:absolute;
  left:2px;
  top:5px;
  width:91px;
  word-wrap:break-word;
}
#u1453 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1454_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:70px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0099CC;
}
#u1454 {
  position:absolute;
  left:1122px;
  top:356px;
  width:70px;
  height:70px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0099CC;
}
#u1455 {
  position:absolute;
  left:2px;
  top:27px;
  width:66px;
  word-wrap:break-word;
}
#u1456_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u1456 {
  position:absolute;
  left:1162px;
  top:396px;
  width:30px;
  height:30px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#0099CC;
}
#u1457 {
  position:absolute;
  left:2px;
  top:7px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1458 {
  position:absolute;
  left:1122px;
  top:391px;
  width:0px;
  height:0px;
}
#u1458_seg0 {
  position:absolute;
  left:-96px;
  top:-4px;
  width:100px;
  height:8px;
}
#u1458_seg1 {
  position:absolute;
  left:-101px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1459 {
  position:absolute;
  left:-98px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1460 {
  position:absolute;
  left:979px;
  top:315px;
  width:0px;
  height:0px;
}
#u1460_seg0 {
  position:absolute;
  left:-4px;
  top:-65px;
  width:8px;
  height:69px;
}
#u1460_seg1 {
  position:absolute;
  left:-10px;
  top:-70px;
  width:20px;
  height:20px;
}
#u1461 {
  position:absolute;
  left:-50px;
  top:-40px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1462_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1462 {
  position:absolute;
  left:985px;
  top:280px;
  width:57px;
  height:16px;
}
#u1463 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u1464 {
  position:absolute;
  left:344px;
  top:409px;
  width:0px;
  height:0px;
}
#u1464_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:343px;
  height:8px;
}
#u1464_seg1 {
  position:absolute;
  left:324px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1465 {
  position:absolute;
  left:120px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1466 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1467_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1467 {
  position:absolute;
  left:131px;
  top:750px;
  width:170px;
  height:31px;
}
#u1468 {
  position:absolute;
  left:2px;
  top:8px;
  width:166px;
  word-wrap:break-word;
}
#u1469_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:220px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:20px;
}
#u1469 {
  position:absolute;
  left:131px;
  top:780px;
  width:170px;
  height:220px;
  text-align:left;
  line-height:20px;
}
#u1470 {
  position:absolute;
  left:10px;
  top:10px;
  width:150px;
  word-wrap:break-word;
}
#u1471 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1472_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1472 {
  position:absolute;
  left:345px;
  top:750px;
  width:170px;
  height:31px;
}
#u1473 {
  position:absolute;
  left:2px;
  top:8px;
  width:166px;
  word-wrap:break-word;
}
#u1474_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:280px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:20px;
}
#u1474 {
  position:absolute;
  left:345px;
  top:780px;
  width:170px;
  height:280px;
  text-align:left;
  line-height:20px;
}
#u1475 {
  position:absolute;
  left:10px;
  top:10px;
  width:150px;
  word-wrap:break-word;
}
#u1476 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1477_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1477 {
  position:absolute;
  left:558px;
  top:750px;
  width:170px;
  height:31px;
}
#u1478 {
  position:absolute;
  left:2px;
  top:8px;
  width:166px;
  word-wrap:break-word;
}
#u1479_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:220px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:20px;
}
#u1479 {
  position:absolute;
  left:558px;
  top:780px;
  width:170px;
  height:220px;
  text-align:left;
  line-height:20px;
}
#u1480 {
  position:absolute;
  left:10px;
  top:10px;
  width:150px;
  word-wrap:break-word;
}
#u1481 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1482_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1482 {
  position:absolute;
  left:772px;
  top:750px;
  width:170px;
  height:31px;
}
#u1483 {
  position:absolute;
  left:2px;
  top:8px;
  width:166px;
  word-wrap:break-word;
}
#u1484_div {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:220px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
  line-height:20px;
}
#u1484 {
  position:absolute;
  left:772px;
  top:780px;
  width:170px;
  height:220px;
  text-align:left;
  line-height:20px;
}
#u1485 {
  position:absolute;
  left:10px;
  top:10px;
  width:150px;
  word-wrap:break-word;
}
#u1486_div {
  position:absolute;
  left:0px;
  top:0px;
  width:776px;
  height:308px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#185A9B;
  line-height:28px;
}
#u1486 {
  position:absolute;
  left:131px;
  top:1114px;
  width:776px;
  height:308px;
  font-size:16px;
  color:#185A9B;
  line-height:28px;
}
#u1487 {
  position:absolute;
  left:0px;
  top:0px;
  width:776px;
  word-wrap:break-word;
}
#u1488 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1489_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:95px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 102, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1489 {
  position:absolute;
  left:472px;
  top:163px;
  width:95px;
  height:95px;
  font-size:16px;
}
#u1490 {
  position:absolute;
  left:2px;
  top:38px;
  width:91px;
  word-wrap:break-word;
}
#u1491_div {
  position:absolute;
  left:0px;
  top:0px;
  width:95px;
  height:29px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(255, 102, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u1491 {
  position:absolute;
  left:472px;
  top:135px;
  width:95px;
  height:29px;
  font-size:16px;
}
#u1492 {
  position:absolute;
  left:2px;
  top:5px;
  width:91px;
  word-wrap:break-word;
}
#u1493 {
  position:absolute;
  left:567px;
  top:211px;
  width:0px;
  height:0px;
}
#u1493_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:120px;
  height:8px;
}
#u1493_seg1 {
  position:absolute;
  left:101px;
  top:-10px;
  width:20px;
  height:20px;
}
#u1494 {
  position:absolute;
  left:8px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1495 {
  position:absolute;
  left:520px;
  top:276px;
  width:0px;
  height:0px;
}
#u1495_seg0 {
  position:absolute;
  left:-4px;
  top:-18px;
  width:8px;
  height:22px;
}
#u1495_seg1 {
  position:absolute;
  left:-10px;
  top:-23px;
  width:20px;
  height:20px;
}
#u1496 {
  position:absolute;
  left:-50px;
  top:-17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
