body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-246px;
  width:780px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  position:absolute;
  left:0px;
  top:0px;
  width:693px;
  height:594px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u0 {
  position:absolute;
  left:333px;
  top:23px;
  width:693px;
  height:594px;
}
#u1 {
  position:absolute;
  left:2px;
  top:289px;
  width:689px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:81px;
}
#u2 {
  position:absolute;
  left:246px;
  top:366px;
  width:50px;
  height:80px;
}
#u3 {
  position:absolute;
  left:2px;
  top:32px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:64px;
}
#u4 {
  position:absolute;
  left:422px;
  top:287px;
  width:100px;
  height:64px;
}
#u5 {
  position:absolute;
  left:2px;
  top:24px;
  width:96px;
  word-wrap:break-word;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:64px;
}
#u6 {
  position:absolute;
  left:422px;
  top:401px;
  width:100px;
  height:64px;
}
#u7 {
  position:absolute;
  left:2px;
  top:24px;
  width:96px;
  word-wrap:break-word;
}
#u8_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u8 {
  position:absolute;
  left:257px;
  top:456px;
  width:29px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:64px;
}
#u10 {
  position:absolute;
  left:606px;
  top:173px;
  width:100px;
  height:64px;
}
#u11 {
  position:absolute;
  left:2px;
  top:24px;
  width:96px;
  word-wrap:break-word;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:64px;
}
#u12 {
  position:absolute;
  left:814px;
  top:146px;
  width:100px;
  height:64px;
}
#u13 {
  position:absolute;
  left:2px;
  top:24px;
  width:96px;
  word-wrap:break-word;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:64px;
}
#u14 {
  position:absolute;
  left:814px;
  top:220px;
  width:100px;
  height:64px;
}
#u15 {
  position:absolute;
  left:2px;
  top:24px;
  width:96px;
  word-wrap:break-word;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:64px;
}
#u16 {
  position:absolute;
  left:606px;
  top:268px;
  width:100px;
  height:64px;
}
#u17 {
  position:absolute;
  left:2px;
  top:24px;
  width:96px;
  word-wrap:break-word;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:64px;
}
#u18 {
  position:absolute;
  left:606px;
  top:362px;
  width:100px;
  height:64px;
}
#u19 {
  position:absolute;
  left:2px;
  top:24px;
  width:96px;
  word-wrap:break-word;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:64px;
}
#u20 {
  position:absolute;
  left:422px;
  top:516px;
  width:100px;
  height:64px;
}
#u21 {
  position:absolute;
  left:2px;
  top:24px;
  width:96px;
  word-wrap:break-word;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:64px;
}
#u22 {
  position:absolute;
  left:814px;
  top:362px;
  width:100px;
  height:64px;
}
#u23 {
  position:absolute;
  left:2px;
  top:24px;
  width:96px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:522px;
  top:319px;
  width:0px;
  height:0px;
}
#u24_seg0 {
  position:absolute;
  left:-29px;
  top:-61px;
  width:142px;
  height:8px;
  -webkit-transform:rotate(126.384351815836deg);
  -moz-transform:rotate(126.384351815836deg);
  -ms-transform:rotate(126.384351815836deg);
  transform:rotate(126.384351815836deg);
}
#u25 {
  position:absolute;
  left:-8px;
  top:-65px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:522px;
  top:319px;
  width:0px;
  height:0px;
}
#u26_seg0 {
  position:absolute;
  left:-1px;
  top:-13px;
  width:86px;
  height:7px;
  -webkit-transform:rotate(167.254710526867deg);
  -moz-transform:rotate(167.254710526867deg);
  -ms-transform:rotate(167.254710526867deg);
  transform:rotate(167.254710526867deg);
}
#u27 {
  position:absolute;
  left:-8px;
  top:-17px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:522px;
  top:319px;
  width:0px;
  height:0px;
}
#u28_seg0 {
  position:absolute;
  left:-14px;
  top:33px;
  width:113px;
  height:8px;
  -webkit-transform:rotate(-138.239700296102deg);
  -moz-transform:rotate(-138.239700296102deg);
  -ms-transform:rotate(-138.239700296102deg);
  transform:rotate(-138.239700296102deg);
}
#u29 {
  position:absolute;
  left:-8px;
  top:30px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:706px;
  top:205px;
  width:0px;
  height:0px;
}
#u30_seg0 {
  position:absolute;
  left:-2px;
  top:-17px;
  width:111px;
  height:7px;
  -webkit-transform:rotate(165.963756532074deg);
  -moz-transform:rotate(165.963756532074deg);
  -ms-transform:rotate(165.963756532074deg);
  transform:rotate(165.963756532074deg);
}
#u31 {
  position:absolute;
  left:4px;
  top:-21px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:706px;
  top:205px;
  width:0px;
  height:0px;
}
#u32_seg0 {
  position:absolute;
  left:-5px;
  top:20px;
  width:118px;
  height:8px;
  -webkit-transform:rotate(-156.482038326308deg);
  -moz-transform:rotate(-156.482038326308deg);
  -ms-transform:rotate(-156.482038326308deg);
  transform:rotate(-156.482038326308deg);
}
#u33 {
  position:absolute;
  left:4px;
  top:16px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:64px;
}
#u34 {
  position:absolute;
  left:814px;
  top:294px;
  width:100px;
  height:64px;
}
#u35 {
  position:absolute;
  left:2px;
  top:24px;
  width:96px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:706px;
  top:205px;
  width:0px;
  height:0px;
}
#u36_seg0 {
  position:absolute;
  left:-27px;
  top:56px;
  width:162px;
  height:8px;
  -webkit-transform:rotate(-131.750888439279deg);
  -moz-transform:rotate(-131.750888439279deg);
  -ms-transform:rotate(-131.750888439279deg);
  transform:rotate(-131.750888439279deg);
}
#u37 {
  position:absolute;
  left:4px;
  top:53px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:814px;
  top:394px;
  width:0px;
  height:0px;
}
#u38_seg0 {
  position:absolute;
  left:-108px;
  top:-3px;
  width:108px;
  height:6px;
}
#u39 {
  position:absolute;
  left:-104px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:64px;
}
#u40 {
  position:absolute;
  left:606px;
  top:438px;
  width:100px;
  height:64px;
}
#u41 {
  position:absolute;
  left:2px;
  top:24px;
  width:96px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:522px;
  top:319px;
  width:0px;
  height:0px;
}
#u42_seg0 {
  position:absolute;
  left:-44px;
  top:71px;
  width:173px;
  height:8px;
  -webkit-transform:rotate(-119.086810829532deg);
  -moz-transform:rotate(-119.086810829532deg);
  -ms-transform:rotate(-119.086810829532deg);
  transform:rotate(-119.086810829532deg);
}
#u43 {
  position:absolute;
  left:-8px;
  top:68px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:64px;
}
#u44 {
  position:absolute;
  left:606px;
  top:516px;
  width:100px;
  height:64px;
}
#u45 {
  position:absolute;
  left:2px;
  top:24px;
  width:96px;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:296px;
  top:434px;
  width:0px;
  height:0px;
}
#u46_seg0 {
  position:absolute;
  left:-22px;
  top:-62px;
  width:171px;
  height:8px;
  -webkit-transform:rotate(137.613346275309deg);
  -moz-transform:rotate(137.613346275309deg);
  -ms-transform:rotate(137.613346275309deg);
  transform:rotate(137.613346275309deg);
}
#u47 {
  position:absolute;
  left:13px;
  top:-65px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:296px;
  top:434px;
  width:0px;
  height:0px;
}
#u48_seg0 {
  position:absolute;
  left:0px;
  top:-4px;
  width:126px;
  height:6px;
  -webkit-transform:rotate(179.545281138307deg);
  -moz-transform:rotate(179.545281138307deg);
  -ms-transform:rotate(179.545281138307deg);
  transform:rotate(179.545281138307deg);
}
#u49 {
  position:absolute;
  left:13px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:296px;
  top:434px;
  width:0px;
  height:0px;
}
#u50_seg0 {
  position:absolute;
  left:-22px;
  top:53px;
  width:170px;
  height:8px;
  -webkit-transform:rotate(-137.862405226112deg);
  -moz-transform:rotate(-137.862405226112deg);
  -ms-transform:rotate(-137.862405226112deg);
  transform:rotate(-137.862405226112deg);
}
#u51 {
  position:absolute;
  left:13px;
  top:49px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u52 {
  position:absolute;
  left:522px;
  top:548px;
  width:0px;
  height:0px;
}
#u52_seg0 {
  position:absolute;
  left:0px;
  top:-3px;
  width:84px;
  height:6px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u53 {
  position:absolute;
  left:-8px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u54_div {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u54 {
  position:absolute;
  left:568px;
  top:52px;
  width:193px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u55 {
  position:absolute;
  left:0px;
  top:0px;
  width:193px;
  white-space:nowrap;
}
#u56_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:64px;
}
#u56 {
  position:absolute;
  left:809px;
  top:72px;
  width:100px;
  height:64px;
}
#u57 {
  position:absolute;
  left:2px;
  top:24px;
  width:96px;
  word-wrap:break-word;
}
#u58 {
  position:absolute;
  left:706px;
  top:205px;
  width:0px;
  height:0px;
}
#u58_seg0 {
  position:absolute;
  left:-21px;
  top:-55px;
  width:144px;
  height:8px;
  -webkit-transform:rotate(135.561705332567deg);
  -moz-transform:rotate(135.561705332567deg);
  -ms-transform:rotate(135.561705332567deg);
  transform:rotate(135.561705332567deg);
}
#u59 {
  position:absolute;
  left:2px;
  top:-58px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
